.Form-container {
    text-align: left;
    width: 439px;
    height: 664px;
    background: #FFFFFF;
    border-radius: 4px;
    margin-top: 134px;
    padding: 40px 40px 0px 40px;
}
.Form-container h1{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.176471px;
    color: #333333;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px 23px 0px;
}
.Form-message{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    padding: 0;
    margin: -6px 0 5px 0;
    text-align: center;
}
.Form-message-alert{
    color: red;
}
.Form-input{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    background: linear-gradient(0deg, rgba(187, 189, 183, 0.1), rgba(187, 189, 183, 0.1)), #FFFFFF;
    border: 0.5px solid #0B2846;
    border-radius: 4px;
    color: #292F2D;
    width: 100%;
    height: 56px;
    margin-bottom: 8px;
    padding-left: 14px;
    box-sizing: border-box;
}
.Form-checkbox-container{

}
.Form-checkbox{
    background: #FFFFFF;
    border: 0.5px solid #333333;
    border-radius: 3px;
    width: 24px;
    height: 24px;
    margin-left: 0;
}
.Form-label{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    align-items: center;
    letter-spacing: 0.065px;
    color: #333333;
    box-sizing: border-box;
    vertical-align: super;
}
.Form-submit-container{
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 15px;
}
.Form-submit{
    height: 40px;
    width: 238px;
    border-radius: 4px;
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    color: #333333;
    background-color: #BAD982;
    border-color: transparent;
    margin-right: 8px;
}
.Form-submit:disabled{
    opacity: 0.5;
}
.Form-reset{
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    background: #35ABD1;
    border-radius: 4px;
    height: 40px;
    width: 193px;
    border-radius: 4px;
    border-color: transparent;
}

@media screen and (max-width: 1285px) {
    .Form-container {
       margin-top: 0px;
    }
    .Form-container h1{
        font-size: 18px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0px;
        text-align: left;
    }
    .Form-container{
        margin-top: 6px;
        border-radius: 0;
    }
    .Form-submit-container{
        display: flex;
        justify-content: space-between;
    }
    .Form-main{
        width: 439px;
    }
    .Form-submit{
        width: 49%;
    }
    .Form-reset{
        width: 49%;
    }
}
@media screen and (max-width: 790px) {
    .Form-container{
        width: 100%;
        border-radius: 0;
        margin-top: 0px;
        padding: 16px 15px 0px 16px;
    }
    .Form-container h1{
        margin-bottom: 16px;
    }
    .Form-main{
        width: 100%;
    }
}
