.Header-top-bar{
    width: 100%;
    height: 32px;
    top: 0%;
    bottom: 96.75%;
    background: rgba(186, 217, 130, 0.7);
    align-items: center;
}
.Header-mid-bar{
    height: 57px;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-right: 20.6%;
}
.Header-bottom-bar{
    background-color: #D7D4D4;
    height: 5px;
    width: 100%;
}
.Header-logo{
    background: url('../img/Group\ 2.png');
    position: absolute;
    left: 16.7%;
    height: 138px;
    width: 224px;
}
.Header-link {
    font-family: "Nunito Sans", RobotoReg,"Helvetica Neue",helvetica,arial,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    display: inline-block;
    align-items: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #231D16;
    padding: 0 28px 0 28px;
}
.Header-link svg{
    vertical-align: middle;
    margin-right: 12px;
}

@media screen and (max-width: 1285px) {
    .Header-link-text{
      display: none;
    }
}

@media screen and (max-width: 790px) {
    .Header-top-bar{
        height: 10px;
    }
    .Header-mid-bar{
        height: 40px;
        margin-right: 0;
    }
    .Header-bottom-bar{
        display: none;
    }
    .Header-logo{
        background: url('../img/Group\ 2s.png');
        height: 75px;
        width: 121px;
        left: 20px;
    }
    .Header-link {
        padding: 0;
        margin-right: 13px;
    }
}