.Home-main{
    background: linear-gradient(180deg, #B4DFEC 0%, rgba(192, 225, 236, 0) 65.08%), url("../img/EXT_Burbank_streetscape_v1_FINAL_low-res 1.png") no-repeat center top;
    background-blend-mode: multiply, normal;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 891px;
}

.Home-carousel{
  width: 729px;
  height: 787px;
  text-align: left;
  position: relative;
  margin-top: 97px;
  margin-right: 37px;
}

.Home-next{
  position: absolute;
  bottom: 87px;
  left: 79px;
}

.Home-prev{
  position: absolute;
  bottom: 87px;
}

.Home-slide h2{
  font-family: Verlag, Josefin Sans;
  font-style: normal;
  font-weight: 900;
  font-size: 80px;
  line-height: 96px;
  letter-spacing: -1.09375px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.Home-register{
  color: #000000;
  background: #BAD982;
  height: 57px;
  width: 121px;
  left: 121px;
  top: 58px;
  border-radius: 0px;
  font-family: Verlag, 'Josefin Sans';
  font-style: normal;
  font-weight: 900;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;  
  padding: 24px;
  display: none;
}
.Home-register:hover{
  color: #FFFFFF;
}
@media screen and (max-width: 1285px) {
  .Home-register{
    display: unset;
  }
}
@media screen and (max-width: 790px) {
  .Home-main{
    justify-content: left;
  }
  .Home-carousel{
    width: 90%;
    height: 587px;
    margin-top: 35px;
    margin-left: 17px;
  }
  .Home-slide h2{
    font-size: 36px;
    line-height: 43px;
    letter-spacing: -0.5625px;
  }
  .Home-register{
    padding: 21px;
    margin-top: 56px;
    position: relative;
    top: -7px;
    left: 0px;
  }
  .Home-prev{
    bottom: 46px;
    left: 4px;
  }
  .Home-next{
    bottom: 46px;
    left: 84px;
  }
}
@media screen and (max-width: 375px) {
  .Home-main{
    background: linear-gradient(180deg, #B4DFEC 0%, rgba(192, 225, 236, 0) 65.08%), url("../img/EXT_Burbank_streetscape_v1_FINAL_low-res s.png") no-repeat center top;
    background-position-y: -5px;
  }
}