@import "~@fontsource/nunito-sans/index.css";
@import "~@fontsource/josefin-sans/index.css";
@import "~@fontsource/roboto-slab/index.css";
@import "~@fontsource/roboto/index.css";

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

a, a:active, a:hover, a:visited {
    text-decoration: none;
}
a:hover {
    color:rgba(186, 217, 130, 0.7);
}
a svg{
    fill: black;
}
a:hover svg{
    fill:rgba(186, 217, 130, 0.7);
}